@charset "utf-8";
/*
 * 基本样式
 */
body.night {
    /*color: #c0c0c0 */
    background-color: var(--night-background);
    -webkit-transition: background .6s ease-in-out, padding .6s ease-in-out;
    -o-transition: background .6s ease-in-out, padding .6s ease-in-out;
    transition: background .6s ease-in-out, padding .6s ease-in-out;
    color: var(--night-color) !important;
}

.night .site-footer {
    background-color: var(--night-background);
}

.night .pagination {
    /*border-bottom: 1px solid #d4d3d36e;*/
}


.night h1,
.night h2,
.night h3,
.night h4,
.night h5,
.night h6 {
    color: var(--night-color) !important;
}

.night .post-title a, .night .nav-title {
    color: var(--night-color);
}

.night .post-title a:hover {
    color: #98A9F9 !important;
}

.night .post-meta {
    color: #adabac;
}

.night .post-tags a {
    color: var(--base-color);
}

.night .site-header-scroll {
    background-color: var(--night-background);
    -webkit-box-shadow: 0 1px 3px 0 rgba(6, 6, 6, 0.28);
    box-shadow: 0 1px 3px 0 rgba(6, 6, 6, 0.28);
}

.night .site-header-bg  {
    background-color: var(--night-background);
    -webkit-box-shadow: 0 1px 3px 0 rgba(6, 6, 6, 0.28);
    box-shadow: 0 1px 3px 0 rgba(6, 6, 6, 0.28);
}

.night header a, .night header .fa-search {
    color: var(--night-color);

}

.night .appreciate-btn {
    box-shadow: none;
}

.night blockquote {
    background-color: #232125;
    color: #a9a9b3;
    border-left: 5px solid var(--base-color);
}

.night .hljs {
    display: block;
    overflow-x: auto;
    background-color: var(--code-dark-bg-color);
    color: #c5c8c6;
    padding: 0.5em;
}

.night img {
    filter: brightness(0.6) !important;
}

.night .post-content img {
    filter: brightness(0.8) !important;
}


.night .cover-bg img {
    filter: brightness(0.3) !important;
}

.night .extra-info img {
    filter: brightness(1) !important;
}

/*
搜索框
 */
.night .search-form--modal {
    background-color: #4e4e4f;
}

.night .search-form input {
    background: #171718;
}

.night .search-form i, .night .search-form--modal .search-form__inner p {
    color: #ffffff;
}

.night .search_close:before, .night .search_close:after {
    background-color: #ffffff;
}

.night .searchbox .searchbox-input-wrapper .searchbox-input {
    background-color: var(--night-input-backgrround) !important;
    color: var(--night-input-color) !important;
}

/*
 日志页面
 */

.night .tree-hole-author, .night .tree-hole-box a {
    color: #ffffff;
}

.night .tree-hole-box {
    background-color: rgba(0, 0, 0, .3);
}

.night .tree-hole-box:before {
    border-color: transparent rgba(0, 0, 0, .3) transparent transparent;
}

@media (min-width: 768px) {
    .night .tree-hole-odd .tree-hole-box:before {
        border-color: transparent transparent transparent rgba(0, 0, 0, .3);
    }

    .night .tree-hole-even .tree-hole-box:before {
        border-color: transparent rgba(0, 0, 0, .3) transparent transparent;
    }
}

@media (max-width: 767px) {
    .night .tree-hole-box:before {
        border-color: transparent rgba(0, 0, 0, .3) transparent transparent;
    }
}

.night .links-box .links-items .links-item {
    background-color: rgba(0, 0, 0, .4);
}

.night .ins-section-container {
    background-color: rgba(0, 0, 0, .6);
}

.night .links-box .links-items .links-item {
    color: #c0c0c0;
}

.night .qr-code.qr-code-display {
    box-shadow: none;
}

/*
 目录
 */

.night a.toc-link {
    color: #8e8787;
}

.night .toc-link + span {
    background-color: #8e8787;
}

.night .toc-link + span:hover {
    background-color: #e5e5e5 !important;
}

.night .toc-link:hover {
    color: #e5e5e5 !important;
}

.night .is-active-link {
    color: #e5e5e5 !important;
}

.night .is-active-link + span {
    background: #e5e5e5 !important;
}

/*
 评论
 */
.night .comments-area {
    border-top: 1px solid #676a6c;
}


/*
无搜索结果页面 样式
 */

.night .s-search input {
    background-color: var(--night-input-backgrround) !important;
    color: var(--night-input-color) !important;
    border-color: var(--night-color);
}

.night .s-search i {
    color: var(--night-color);
}

.night .ins-section .ins-section-header {
    border-bottom: 1px solid #36393c;
}

.night .searchbox .searchbox-input-wrapper .searchbox-input {
    border-bottom: 1px solid #36393c;
}

.night .searchbox .searchbox-result-wrapper {
    background-color: var(--night-input-backgrround);
}

.night .post-item .post-item-title a {
    color: var(--night-color) !important;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--night-color)), to(var(--night-color)));
    background-image: linear-gradient(to right, var(--night-color) 0%, var(--night-color) 100%);
}

.night .post-item .post-item-title a span {
    filter: brightness(0.6) !important;
}

.night .circle {
    border: 1px solid #34495e;
    color: #d4d3d3;
}

.night .sidebar-show, .night .sidebar {
    background-color: var(--night-background);
}

.night :not(pre) > code {
    background-color: var(--code-dark-bg-color);
}

.night table td, .night table th, .night table thead th {
    border-color: #454d55;
}

.night table tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, .05);
}

.night .menu-items .sub-menu {
    background-color: #232125;
}

.night .sub-menu li a:hover {
    background-color: var(--code-dark-bg-color);
}

.night td.hljs-ln-numbers {
    background-color: var(--code-dark-line-numbers-bg-color) !important;
}

.night .hljs-ln td, .night .hljs-ln th, .night .hljs-ln thead th {
    border: none;
}

.night .hljs-ln tbody tr:nth-of-type(odd) {
    background-color: var(--code-dark-bg-color);
}

.night .mermaid svg {
    filter: brightness(0.6);
}

.night .article-copyright-info {
    color: var(--night-color)!important;
}

.night .ball-pulse-sync>div, .ball-pulse>div, .ball-scale>div {
    background-color: var(--night-color)!important;
}

.night .qr-code {
    background-color: var(--code-dark-bg-color) !important;
    box-shadow: 0 0 10px var(--dark-backgound) !important;
    -moz-box-shadow: 0 0 10px var(--dark-backgound) !important;
    -webkit-box-shadow: 0 0 10px var(--dark-backgound) !important;
}

.night .wx-btn, .night .zfb-btn {
    box-shadow: 0 0 10px var(--dark-backgound) !important;
    -webkit-box-shadow: 0 0 10px var(--dark-backgound) !important;
    -moz-box-shadow: 0 0 10px var(--dark-backgound) !important;
}

.night div.articles article .article-wrapper {
    background-color: var(--code-dark-bg-color)!important;
    box-shadow: 0 0.25rem 1rem var(--dark-backgound)!important;
    -webkit-box-shadow: 0 0.25rem 1rem var(--dark-backgound)!important;
    -moz-box-shadow: 0 0.25rem 1rem var(--dark-backgound)!important;
}

.night div.articles article .card-shadow-hover {
    box-shadow: 0 1rem 2rem 0 #1f1f1f !important;
    -webkit-box-shadow: 0 1rem 2rem 0 #1f1f1f !important;
    -moz-box-shadow: 0 1rem 2rem 0 #1f1f1f !important;
}


.night div.meta, .night .author-meta a.author {
    color: var(--code-dark-color) !important;
}

.night .author-meta {
    border-top: 2px solid var(--code-dark-color) !important;
}

.night div.tags a {
    color: #fff !important;
}

.night span.hover-effect span.cover {
    filter: brightness(0.7) !important;
}