<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
>
<!--<#macro comment post,type>-->
<div th:if="${post.spec.allowComment == true}">
  <script th:src="@{/assets/libs/vue/vue.min.js?v={version}(version=${theme.spec.version})}"></script>
  <div th:if="${pluginFinder.available('PluginCommentWidget')}">
    <halo:comment
            group="content.halo.run"
            kind="Post"
            th:attr="name=${post.metadata.name}"
            colorScheme="window.main.currentColorScheme"
    />
  </div>
</div>
</html>



<!-- Define the fragment -->
<div th:fragment="comment(post, type)" th:if="${not post.disallowComment}">
  <script th:src="${theme_base}/assets/libs/vue/vue.min.js?v={version}(version=${theme.spec.version})"></script>
  <script th:src="${options.comment_internal_plugin_js} ?: '//cdn.jsdelivr.net/gh/hshanx/halo-comment-normal@v1.0.0/dist/halo-comment.min.js'"></script>
</div>

<!-- Use the fragment -->
<div th:replace="fragments/comment :: comment(post=${post}, type=${type})"></div>
