<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="html (title,hero,content,head,footer,sidebar,contentClass)"
>
    <!-- post-list -->
    <div id="post-list" class="post-list inner">
            <!-- post-header -->
                    <ul th:each="tag : ${tags}">
                        <a th:href="tags.status.permalink" th:text="${tag.spec.title}"></a>
                    </ul>
                    <ul th:each="post : ${posts.items}">
                        <a
                                th:each="tag : ${post.tags}"
                                th:href="@{${tag.status.permalink}}"
                                th:title="${tag.spec.displayName}"
                                th:text="|#${tag.spec.displayName}|"
                                class="cursor-pointer text-sm italic text-gray-600 hover:text-gray-900 dark:text-slate-400 dark:hover:text-slate-500"
                        >
                        </a>
                    </ul>
    </div>
</html>