<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:fragment="script">
<script th:src="@{/assets/libs/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/dist/main.umd.js}"></script>
<script th:src="@{/assets/media/scripts/utils.min.js?v={version}(version=${theme.spec.version})}"></script>
<script th:src="@{/assets/media/scripts/plugins.min.js?v={version}(version=${theme.spec.version})}"></script>
<script th:src="@{/assets/media/scripts/main.min.js?v={version}(version=${theme.spec.version})}"></script>
<script th:src="@{/assets/libs/velocity/velocity.min.js}"></script>
<script th:src="@{/assets/libs/velocity/velocity.ui.min.js}"></script>


<script type="text/javascript">
  const nightModeStartTime = 18;
  const nightModeEndTime = 6;
</script>
<script th:src="@{/assets/media/scripts/night-mode.min.js?v={version}(version=${theme.spec.version})}"></script>



<script>
  han.initLazyLoad();
  // 整个页面延迟加载
  han.lazyLoad();

  // card 延迟加载
  han.lazyLoadCardItem()

  // 菜单高亮
  han.highlightMenu();

  // 小屏幕菜单隐藏
  han.makeMenuInvisible();

  if ($("#page").find('.post-page').length > 0) {
    han.refreshLazyLoad();
  } else {
    han.initLazyLoad()
  }

</script>


<script type="text/javascript">
  console.log("%c Github %c", "background:#24272A; color:#ffffff", "", "https://github.com/hshanx");
  console.log("%c Version: %c", "background:#24272A; color:#ffffff", "", "1.0");
</script>
</div>