.site-header-scroll {
  //justify-content: space-between;
  //background-color: hsla(0, 1%, 100%, .7);
  background-color: white;
  border-bottom: 1px solid rgba(30, 35, 42, .06);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);
  box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);
}

.site-header-scroll a {
  font-size: 1.1rem;
  color: #504b4d;
}

.scroll-menu {
  height: 52px;
  min-width: 300px;
  //margin-right: 40px;
  -webkit-transition: background .6s ease-in-out,padding .6s ease-in-out;
  -o-transition: background .6s ease-in-out,padding .6s ease-in-out;
  transition: background .6s ease-in-out,padding .6s ease-in-out;
}

.scroll-menu-show {
  display: flex !important;
  display: -webkit-flex !important;
  display: -moz-flex !important;
  justify-content: space-between;
  align-items: center;
}

.scroll-menu a {
  margin-right: 20px;
}

.menu-ctrl-on {
  .icon-menu.cross:before {
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    background: #adabac;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .icon-menu.cross .middle {
    opacity: 0;
  }

  .icon-menu.cross:after {
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    background: #adabac;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.icon-menu {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 28px;
  //top: 8px;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  transition: all .6s;

  .middle {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 22px;
    height: 2px;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
    background: #adabac;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  &:before, &:after {
    position: absolute;
    width: 22px;
    height: 2px;
    content: '';
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
    background: #adabac;
  }

  &:before {
    top: 5px;
  }

  &:after {
    bottom: 5px;
  }
}

@media only screen and (max-width: 960px) {
  //.scroll-menu {
  //  display: none !important;
  //}

  .menu-scroll-item, #headerCtrl {
    display: none !important;
  }

  .sidebar-toggle {
    display: flex !important;
  }
}

.sidebar {
  margin-top: 52px;
}

.header-inner {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
}

.header-inner .menu-items {
  height: 100%;
  line-height: 52px;
}

.site-header .other-ctl i {
  margin-right: 20px;
  font-size: 18px;
}

.night-mode:hover {
  cursor: pointer;
  color: #2474b5;
}

.fa-search:hover{
  cursor: pointer;
}

.site-header a.active-current {
  color: #2474b5;
}

// 其余样式参考 style.less 第4和第5部分
