code {
    color: var(--color);
    background-color: var(--code-bg-color);
    font-family: Consolas, "Microsoft YaHei", sans-serif, "Source Code Pro";
}

code[class*="language-"],
pre[class*="language-"] {
    color: var(--color);
    background-color: var(--code-bg-color) !important;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
    background: var(--background);
}

:not(pre) > code[class*="language-"] {
    border: red;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--code-cdata-color);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
    color: var(--code-symbol-color);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: var(--code-class-color);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: var(--code-variable-color);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: var(--code-keyworks-color);
}

.token.regex,
.token.important {
    color: var(--code-regex-color);
}

.token.deleted {
    color: var(--code-deleted-color);
}


.line-numbers .line-numbers-rows {
    background-color: var(--code-line-numbers-bg-color) !important;
}

.line-numbers-rows > span:before {
    color: var(--code-line-numbers-color) !important;
}

.line-highlight {
    background: rgba(21, 21, 21, 0.2) !important;
    background: -webkit-linear-gradient(left, rgba(21, 21, 21, 0.2) 70%, rgba(21, 21, 21, 0)) !important;
    background: linear-gradient(to right, rgba(21, 21, 21, 0.2) 70%, rgba(21, 21, 21, 0)) !important;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
    background: var(--code-toolbar-bg-color) !important;
    /*box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);*/
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
    color: var(--code-toolbar-color) !important;
}

.line-numbers-rows > span:before {
    color: var(--code-line-numbers-rows-color);
}