<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{module/layout :: html(title = ${theme.config.title.jounarls_title}, hero = null, content = ~{::momentsContent}, head = null, footer = null, sidebar = null, contentClass = null)}"
>
<th:block th:fragment="momentsContent">
    <div id="page" class="site">
        <main class="site-main"  id="main">
            <div class="site-content">
                <header class="bg-cover page-header">
                    <th:block th:if="${theme.config.head_img.journals_patternimg != null and theme.config.head_img.journals_patternimg != ''}">
                        <div class="cover-bg">
                            <img th:src="${theme.config.head_img.journals_patternimg}" th:alt="${theme.config.title.jounarls_title}" src="" alt="">
                        </div>
                    </th:block>
                    <th:block th:unless="${theme.config.head_img.journals_patternimg != null and theme.config.head_img.journals_patternimg != ''}">
                        <div class="default-cover-bg">
                        </div>
                    </th:block>
                    <div class="cover-content">
                        <div class="inner">
                            <div class="post-count"></div>
                            <h1 class="page-title" style="font-size: 46px;" th:text="${theme.config.title.jounarls_title}"></h1>
                        </div>
                    </div>
                </header>
                <div id="tree-hole">
                    <ol class="comment-list">
                        <li  th:each="moment,momentsStat : ${moments.items}"
                             th:with="content=${moment.spec.content}"
                             id="li-comment-611"
                            th:class="|tree-hole-body tree-hole-${momentsStat.count % 2 == 1 ? 'odd' : 'even'}|">
                            <div id="comment-611">
                                <img class="avatar" th:src="${moment.owner.avatar}" th:alt="${moment.owner.displayName}" width="40"
                                     height="40" src="" alt="">
                                <div class="tree-hole-box">
                                    <div class="tree-hole-author">
                                        <a th:href="@{${site.url}}" data-ajax
                                           rel="external nofollow">
                                            <span th:text="${moment.owner.displayName}"></span></a>
                                        <span th:text="${#dates.format(moment.metadata.creationTimestamp, 'yyyy-MM-dd')}"></span>
                                    </div>
                                    <p th:utext="${content.html}"></p>
                                </div>
                            </div>
                        </li>
                    </ol>

                    <div class="tree-hole-go">
                        <span class="tree-hole-go-aircraft"><i class="fa fa-paper-plane fa-lg"></i></span><br>
                    </div>
                    <div class="comment-page">
                        <th:block th:if="${moments.totalPages gt 1}">
                            <th:block th:with="page = ${moments.page}, total = ${moments.totalPages}">
                                <ol class="page-navigator">
                                    <th:block th:if="${moments.hasPrevious}">
                                        <li class="prev">
                                            <a th:href="@{${moments.prevUrl}}" data-ajax>
                                                <i class="fa fa-angle-left fa-lg"></i>
                                            </a>
                                        </li>
                                    </th:block>
                                    <th:block th:each="index:${#numbers.sequence(1, moments.totalPages)}">
                                        <th:block th:if="${moments.page == index}">
                                            <li class="current">
                                                <a th:href="@{${path+'/page/'}  + ${index}}" data-ajax>
                                                    <span th:text="${index}"></span>
                                                </a>
                                            </li>
                                        </th:block>
                                        <th:block th:if="${moments.page != index}">
                                            <li>
                                                <a th:href="@{${path+'/page/'}  + ${index}}" data-ajax>
                                                    <span th:text="${index}"></span>
                                                </a>
                                            </li>
                                        </th:block>
                                    </th:block>
                                    <th:block th:if="${moments.hasNext}">
                                        <li class="next">
                                            <a th:href="@{${moments.nextUrl}}" data-ajax>
                                                <i class="fa fa-angle-right fa-lg"></i>
                                            </a>
                                        </li>
                                    </th:block>
                                </ol>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>
        </main>
    </div>
</th:block>
