<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{module/layout :: html(title = ${post.spec.title} + '-' + ${site.title}, hero = null, content = ~{::postContent}, head = ~{::postHead}, footer = ~{::postFooter}, sidebar = null, contentClass = null)}"
>
<th:block th:fragment="postHead">
    <th:block th:include="@{/module/highlightjs/libs-import}"></th:block>
    <th:block th:include="@{/module/tocbot/libs-import}"></th:block>
    <th:block th:include="@{/module/social-share/libs-import}"></th:block>
    <th:block th:include="@{/module/viewer/libs-import}"></th:block>
    <div th:if="${theme.config.post.enabled_katex}">
        <link rel="stylesheet" th:href="@{/assets/libs/katex/katex.min.css}">
    </div>
</th:block>



<body>
<th:block th:fragment="postContent">
    <div id="page" class="site post-template transform-none" style="opacity: 1; display: block; transform: translateY(0px);">
        <main class="site-main" id="main">
            <div id="readProgress">
                <div class="read-progress-bar" role="progressbar" style="width: 0;"></div>
            </div>
            <div class="site-content post-page">
                <article class="post tag-getting-started" id="siteContent">
                    <header class="bg-cover post-header" id="postHeader">
                        <div th:if="${post.spec.cover != null and post.spec.cover !=''}">
                            <div class="cover-bg">
                                <img th:src="${post.spec.cover}" th:alt="${post.spec.cover}" src="" alt="">
                            </div>
                        </div>
                        <div th:unless="${post.spec.cover != null and post.spec.cover !=''}">
                            <div class="default-cover-bg">
                            </div>
                        </div>

                        <div class="cover-content">
                            <div class="inner">
                                <div class="post-tags">
                                    <a
                                            th:each="tag : ${post.tags}"
                                            th:href="@{${tag.status.permalink}}"
                                            th:title="${tag.spec.displayName}"
                                            th:text="|#${tag.spec.displayName}|"
                                            class="cursor-pointer text-sm italic text-gray-600 hover:text-gray-900 dark:text-slate-400 dark:hover:text-slate-500"
                                    >
                                    </a>
                                </div>
                                <h1 class="post-title js-toc-ignore" th:text="${post.spec.title}">Hello Halo</h1>
                                <div class="post-meta">
                                    <span class="post-meta-wrap">
                                        <img class="author-avatar" th:srcset="${post.owner.avatar}" th:src="${post.owner.avatar}" alt="" src="">
                                        <span class="post-author" th:text="${post.stats.visit} + '次访问'"></span>
                                        <time class="published" th:text="${#dates.format(post.metadata.creationTimestamp, 'yyyy-MM-dd')}">
                                        </time>
                                    </span>
                                    <div th:text="${post.owner.displayName}"></div>
                                </div>
                                <div th:if="${theme.config.post.enabled_visual_height}">
                                <a href="#post-content" class="arrow-down" data-scroll=""><span class="screen-reader-text">Scroll Down</span></a>
                                </div>
                            </div>
                        </div>
                    </header>


                    <div class="post-inner">
                        <div class="article-body">
                            <div class="post-content article-content" id="post-content">
                                <article
                                        th:utext="${post.content.content}"
                                ></article>
                            </div>
                            <div id="tocFlag">
                                <div th:if="${theme.config.post.post_toc}">
                                    <aside id="toc" class="toc"></aside>
                                </div>
                            </div>
                        </div>
                        <div class="article-info" id="articleInfo">
                            <div class="extra-info extra-info-center">
                                <div th:unless="${theme.config.post.QR_code_zfb == null && theme.config.post.QR_code_wx == null}">
                                    <button type="submit"
                                            class="appreciate-btn btn-primary font-bold rounded width-47 height-46 custom-color-solid-bg font-16-to-14"
                                            onclick="">
                                        <img th:src="@{/assets/media/images/cuplogo-sm.png}"
                                             class="right-mrgn-8 support-img" style="height: 16px" alt="支持作者" src=""/>
                                        <span id="">支持作者</span>
                                    </button>
                                </div>
                                <div th:if="${theme.config.post.social_share != null and theme.config.post.social_share != false}">
                                    <button class="btn-primary btn-primary-light font-bold rounded width-47 height-46 custom-color-secondary-bg share-btn "
                                            onclick="">
                                        <span>分享</span>
                                    </button>
                                </div>
                            </div>
                            <div id="socialShare" class="no-show">
                                <div class="social-share" th:data-disabled="${theme.config.post.share_disabeld}"></div>
                            </div>
                            <div th:class="'${theme.config.post.copyright_clean}' ? 'article-copyright-info simple-copyright-info' : 'article-copyright-info full-copyright-info'">


                                <div th:if="${theme.config.post.copyright_clean}">
                                   <p>© 本文著作权归作者所有，转载前请务必署名</p>
                               </div>
                                <div th:unless="${theme.config.post.copyright_clean}">
                                    <p>本文由 <a th:href="${post.status.permalink}" th:text="${post.owner.displayName}"></a> 创作，如果您觉得本文不错，请随意赞赏<br>采用 <a
                                            href="https://creativecommons.org/licenses/by/4.0/" target="_blank"
                                            rel="external nofollow">知识共享署名4.0</a> 国际许可协议进行许可<br>本站文章除注明转载/出处外，均为本站原创或翻译，转载前请务必署名<br>原文链接：<a
                                            th:href="${post.status.permalink}" th:text="${post.owner.displayName}"></a>
                                        <br>最后更新于：<p th:text="${#dates.format(post.status.lastModifyTime, 'yyyy-MM-dd' 'hh-mm-ss')}"></p>
                                </div>
                            </div>
<!--                            <th:block th:include="@{module/comment}">-->
<!--                                <#if is_post??>-->
<!--                                <@comment post,"post" />-->
<!--                                <#elseif is_sheet??>-->
<!--                                <@comment sheet,"sheet" />-->
<!--                            </#if>-->
<!--                            </th:block>-->
                            <div th:if="${pluginFinder.available('PluginCommentWidget')}">
                                <halo:comment
                                        group="content.halo.run"
                                        kind="Post"
                                        th:attr="name=${post.metadata.name}"
                                        colorScheme="window.main.currentColorScheme"
                                />
                            </div>
                        </div>
                    </div>
                </article>

                <div th:if="${theme.config.post.post_nepre}">
                    <nav class="post-navigation" id="post-navigation">
                        <h2 class="screen-reader-text">Post navigation</h2>
                        <div class="nav-links">
                            <div  th:with="postCursor = ${postFinder.cursor(post.metadata.name)}" class="flex justify-start">
                                <a th:if="${postCursor.hasPrevious()}"
                                   th:href="@{${postCursor.previous.status.permalink}}"
                                        data-ajax class="nav-previous">
                                    <div th:if="${postCursor.previous.spec.cover != null and postCursor.previous.spec.cover != ''}">
                                        <div class="nav-bg ">
                                            <img th:src="${postCursor.previous.spec.cover}" alt="" src=""/>
                                        </div>
                                    </div>
                                    <div th:unless="${postCursor.previous.spec.cover != null and postCursor.previous.spec.cover != ''}">
                                        <div class="nav-bg default-cover-bg">
                                        </div>
                                    </div>
                                    <div class="nav-inside">
                                        <span class="nav-before">上一篇</span>
                                        <span class="nav-title" th:text="${postCursor.previous.spec.title}"></span>
                                        <span class="nav-date">
                                            <time class="published"
                                                     th:text="${#dates.format(postCursor.previous.metadata.creationTimestamp, 'yyyy-MM-dd')}">
                                            </time>
                                            </span>
                                    </div>
                                </a>
                                <a th:if="${postCursor.hasNext()}"
                                   th:href="@{${postCursor.next.status.permalink}}"
                                        data-ajax class="nav-next">
                                    <div th:if="${postCursor.next.spec.cover ne ''}">
                                        <div class="nav-bg ">
                                            <img th:src="${postCursor.next.spec.cover}" alt="" src=""/>
                                        </div>
                                    </div>
                                    <div th:unless="${postCursor.next.spec.cover ne ''}">
                                        <div class="nav-bg default-cover-bg">
                                        </div>
                                    </div>
                                    <div class="nav-inside">
                                        <span class="nav-before">下一篇</span>
                                        <span class="nav-title" th:text="${postCursor.next.spec.title}"></span>
                                        <span class="nav-date">
                                            <time class="published"
                                                  th:text="${#dates.format(postCursor.next.metadata.creationTimestamp, 'yyyy-MM-dd')}">
                                            </time>
                                            </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

        </main>
    </div>
    <div class="qr-code-wrap" role="dialog">
        <div role="document" class="qr-code" style="transform-origin: 201px 294px;">
        <span class="closinglayer">
            <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="close" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                <path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg>
        </span>
            <div style="text-align: center;padding: 10px 0;">
                <div th:if="${theme.config.post.QR_code_zfb != null}">
                    <img class="qr_code_zfb" th:src="${theme.config.post.QR_code_zfb}" src="" alt=""/>
                </div>
                <div th:if="${theme.config.post.QR_code_wx != null}">
                    <img class="qr_code_wx" th:src="@{${theme.config.post.QR_code_wx}}" src="" alt=""/>
                </div>
            </div>
            <div th:if="${theme.config.post.QR_code_zfb != null and theme.config.post.QR_code_wx != null}">
                <div class="switch-btn">
                    <span class="zfb-btn">支付宝</span>
                    <span class="wx-btn">微信</span>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="postFooter">
    <th:block th:include="@{/module/highlightjs/scripts}"></th:block>
    <th:block th:include="@{/module/tocbot/scripts}"></th:block>
    <th:block th:include="@{/module/social-share/scripts}"></th:block>
    <th:block th:include="@{/module/viewer/scripts}"></th:block>

    <script>
    $(".qr-code").on("click", function (e) {
        e.stopPropagation();
    });
    $(".closinglayer").on("click", function () {
        // $(".qr-code-wrap").hide();
        $(".qr-code-wrap").velocity("transition.expandOut", {duration: 300});
    });
    $(".zfb-btn").on("click", function () {
        $(".qr_code_zfb").css("height", "300px");
        $(".qr_code_wx").css("height", "0");
    });
    $(".wx-btn").on("click", function () {
        $(".qr_code_wx").css("height", "300px");
        $(".qr_code_zfb").css("height", "0");
    });

    $(".appreciate-btn").on("click", function (e) {
        $(".qr-code-wrap").velocity("transition.expandIn", {duration: 300});
        // $(".qr-code-wrap").show();
        $(document).one("click", function () {
            // $(".qr-code-wrap").hide();
            $(".qr-code-wrap").velocity("transition.expandOut", {duration: 300});

        });
        e.stopPropagation();
    });

    function readProgress() {

        const displayReadProgress = true;

        // 文章内容
        var $content = $("#main");
        // 阅读进度条
        var $readProgressBar = $("#readProgress .read-progress-bar");

        /**
         * 改变阅读进度条
         */
        var changeReadProgress = function () {
            // contentHeight 实际总阅读高度 = 内容的高度 - 窗口的可视高度
            var contentHeight = $content.height() - window.innerHeight;
            if (contentHeight <= 0) return;
            // readHeight 已经阅读的高度 = 当前页面的垂直偏移量 - 内容元素上边的多余部分
            var readHeight = window.pageYOffset - $content.offset().top;
            // 进度条的宽度
            var progressWidth = readHeight / contentHeight * 100 + '%';
            $readProgressBar.width(progressWidth);
        };

        // 改变阅读进度条
        displayReadProgress && changeReadProgress();

        $(window).on('scroll', function () {
            // 改变阅读进度条
            displayReadProgress && changeReadProgress();
        });
    }

    $(function () {
        readProgress()
    })

    </script>
</th:block>

</body>
</html>